body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
}

#login {
    margin-top: 50px;
}

#login-box {
    background: #f7f7f7;
    padding: 20px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

h1.text-center {
    border: 2px solid #333;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

/* Estilo para el botón Enviar */
input[type="submit"] {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: #555;
}
a [type="button"] {
    background: #0074cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
a [type="button"]:hover {
    background: #555;
}
